body {
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
}

/* HEADER */
img {
    width: 70px;
    height: 50px;
    padding-left: 180px;
}

.header {
    display: flex;
    margin: 30px;
}

ul {
    list-style-type: none;
    display: flex;
    color: white;
    font-size: 18px;
    justify-content: flex-end;
    padding: 0;
    padding-right: 180px;
    width: 100%;
    gap: 40px;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(146, 133, 54);
}

a:visited {
    color: white;
}

/* HERO */
.section2 {
    display: flex;
}

.hero-main {
    display: flex;
    margin: 100px 180px;
    flex-direction: column;
    width: 800px;
}

h1, .hero-main > p {
    color: white;
}

h1 {
    font-size: 48px;
    font-weight: 800;
}

.hero-main > p {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
}

div > img {
    width: 600px;
    height: 250px;
    padding: 0%;
    margin: 100px 180px;
}

button {
    padding: 10px;
    background-color: orangered;
    border: 0;
    border-radius: 8px;
    color: white;
    font-weight: 500;
}

/* INFORMATION */
.information {
    background-color: rgb(172, 117, 53);
    height: 500px;
}

h2 {
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    padding: 80px;
}

.workshop-images {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.workshop-images > img {
    width: 150px;
    height: 150px;
    margin: 0;
    border-radius: 8px;
    object-fit: cover;
    border: 4px solid black;
}

.image-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    text-align: center;
}

.image-text > p {
    width: 158px;
}

/* Quote Section */
.quote-section {
    background-color: lightgray;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote > p {
    font-size: 36px;
    font-style: italic;
    width: 600px;
}

.author {
    padding-left: 850px;
}

.author > p {
    color: black;
    font-weight: bold;
}

/* Call To Action */
.cta {
    background-color: rgb(172, 117, 53);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.cta-title > p {
    font-weight: bold;
}

.box {
    width: 1000px;
    height: 150px;
    background-color: rgb(5, 45, 5);
    border-radius: 8px;
    display: flex;

}

.cta-texts {
    padding: 50px;
    color: white;
}

.cta-button {
    margin: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FOOTER */
.footer {
    height: 70px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}